@import "normalize.css";

body {
    width: 100%;
}
.wrapper {
    display: grid;
    width: 100vw;
    height: 100vh; 
    grid-template-rows: 17% 30% 36% 17%; 
    font-weight: bold;
    text-align: center;
}
header {
    background-color: #d4d3ce;
    grid-area: 1 / 1 / 2 / 5;
}

main {
    background-color: #FFFFE0;
    grid-area: 2 / 1 / 4 / 4;
}

.wrapper2 {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;
    justify-content: center;
}

.item {
    background-color: #FFE4B5;
    height: 10vh;
}

.item1 {
    grid-area: 4 / 1 / 4 / 3;
    margin-left: 0.1vw;
}

.item2 {
    grid-area: 4 / 3 / 4 / 5;
}

.item3 {
    grid-area: 5 / 1 / 6 / 5;
}

aside {
    background-color: #AFEEEE;
    grid-area: 2 / 4 / 5 / 5;
}

footer {
    background-color: #d4d3ce;
    grid-area: 4 / 1 / 5 / 5;
}

.footer__items {
    display: grid;
    grid-template-rows:  1fr;
    grid-gap: 0.1vw;
    justify-content: center;
    align-items: center;
}
.footer__item {
    background-color: #fff;
    height: 10vh;
    width: 15vw;
}

.item4 {
    grid-column: 1 / 2;
    margin: 5px;
}

.item5 {
    grid-column: 2 / 3;
    margin: 5px;
}

.item6 {
    grid-column: 3 / 4;
    margin: 5px;
}

.item7 {
    grid-column: 4 / 5;
    margin: 5px;
}

@media screen and (max-width: 767px) {
    .wrapper {
        display: grid;
        width: 100vw;
        height: 100vh; 
        grid-template-rows: 10% 40% 17% 33%; 
        font-weight: bold;
        text-align: center;
    }
    
    main {
        grid-area: 2 / 1 / 4 / 5;
    } 

    aside {
        display: none;
    }
    
    .wrapper2 {
        grid-template-columns: repeat(4, 20%);
        grid-template-rows: repeat(4, 1fr);
    }

    .item1 {
        grid-area: 2 / 1 / 4 / 5;
    }
    
    .item2 {
        grid-area: 3 / 1 / 4 / 5;
    }
    
    .item3 {
        grid-area: 4 / 1 / 4 / 5;
    }

    .footer__items {
        grid-template-rows:  repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }
    .footer__item {
        padding-left: 8px;
        padding-top: 4px;
        height: 6vh;
        width: 95%; 
    }

    .item4 {
        grid-area: 1 / 1 / 2 / 5;
    }

    .item5 {
        grid-area: 2 / 1 / 3 / 5;
    }

    .item6 {
        grid-area: 3 / 1 / 4 / 5;
    }

    .item7 {
        grid-area: 4 / 1 / 5 / 5;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .wrapper {
        grid-template-rows: 10% 25% 25% 40%; 
    }

    .wrapper2 {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 1fr);
    }

    .item1 {
    grid-area: 2 / 1 / 3 / 4;
    margin-left: 0.1vw;
    }

    .item2 {
    grid-area: 3 / 1 / 4 / 4;
    }

    .item3 {
    grid-area: 4 / 1 / 5 / 5;
    }
    
    .footer__items {
        display: grid;
        grid-template-rows:  repeat(4, 4fr);
        grid-template-columns: repeat(4, 4fr);
    }
    .footer__item {
        height: 8vh;
        width: 50vw;
    } 
    
    .item4 {
    grid-area: 1 / 1 / 2 / 5;
    }
    
    .item5 {
        grid-area: 2 / 1 / 3 / 5;
    }
    
    .item6 {
        grid-area: 3 / 1 / 4 / 5;
    }
    
    .item7 {
        grid-area: 4 / 1 / 5 / 5;
    }
}

